@inherits LayoutComponentBase
@inject IHttpContextAccessor HttpContextAccessor

<div>
    @if (HttpContextAccessor.HttpContext.Session.GetString("UsuarioAutenticado") == "true")
    {
        <div class="page">
            <div class="sidebar bg-dark">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    }
    else
    {
        <div class="page">
            <Login/>
        </div>
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
